<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^/?$ application/controller/index.php [NC,L]
	RewriteRule ^home/?$ application/controller/index.php [NC,L]
	RewriteRule ^home?page=/?$ application/controller/index.php?page= [NC,L]

	RewriteRule ^search/?$ application/controller/search.php [NC,L]
	RewriteRule ^view-product/?$ application/controller/view-product.php [NC,L]
	RewriteRule ^view-product?id=/?$ application/controller/view-product.php?id= [NC,L]
	
	RewriteRule ^vehicles/?$ application/view/vehicles.php [NC,L]
	RewriteRule ^mobiles-and-tablets/?$ application/view/mobiles-and-tablets.php [NC,L]
	RewriteRule ^electronics-and-computer/?$ application/view/electronics-and-computer.php [NC,L]
	RewriteRule ^clothing-and-accessories/?$ application/view/clothing-and-accessories.php [NC,L]
	RewriteRule ^books-and-cds/?$ application/view/books-and-cds.php [NC,L]
	RewriteRule ^home-and-furniture/?$ application/view/home-and-furniture.php [NC,L]
	RewriteRule ^other/?$ application/view/other.php [NC,L]

	RewriteRule ^register/?$ application/controller/register.php [NC,L]
	RewriteRule ^login/?$ application/controller/login.php [NC,L]
	RewriteRule ^logout/?$ application/controller/logout.php [NC,L]
	RewriteRule ^dashboard/?$ application/controller/dashboard.php [NC,L]
	RewriteRule ^new-product/?$ application/controller/new-product.php [NC,L]
	RewriteRule ^all-products/?$ application/controller/all-products.php [NC,L]
	RewriteRule ^delete-product/?$ application/controller/delete-product.php [NC,L]
	
</IfModule>