<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^/?$ application/controller/public/index.php [NC,L]
	RewriteRule ^home/?$ application/controller/public/index.php [NC,L]
	RewriteRule ^search/?$ application/controller/public/search.php [NC,L]
	RewriteRule ^view-product/?$ application/controller/public/view-product.php [NC,L]
	RewriteRule ^register/?$ application/controller/public/register.php [NC,L]

	RewriteRule ^vehicles/?$ application/controller/public/categories/vehicles.php [NC,L]
	RewriteRule ^mobiles-and-tablets/?$ application/controller/public/categories/mobiles-and-tablets.php [NC,L]
	RewriteRule ^electronics-and-computer/?$ application/controller/public/categories/electronics-and-computer.php [NC,L]
	RewriteRule ^clothing-and-accessories/?$ application/controller/public/categories/clothing-and-accessories.php [NC,L]
	RewriteRule ^books-and-cds/?$ application/controller/public/categories/books-and-cds.php [NC,L]
	RewriteRule ^home-and-furniture/?$ application/controller/public/categories/home-and-furniture.php [NC,L]
	RewriteRule ^other/?$ application/controller/public/categories/other.php [NC,L]

	RewriteRule ^login/?$ application/controller/admin/login.php [NC,L]
	RewriteRule ^logout/?$ application/controller/admin//logout.php [NC,L]
	RewriteRule ^dashboard/?$ application/controller/admin//dashboard.php [NC,L]
	RewriteRule ^new-product/?$ application/controller/admin//new-product.php [NC,L]
	RewriteRule ^all-products/?$ application/controller/admin//all-products.php [NC,L]
	RewriteRule ^delete-product/?$ application/controller/admin//delete-product.php [NC,L]
	
</IfModule>