/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

div {
	border-radius: 5px;
}

body {
	padding-top: 70px;
	color: #333;
}

body div h1 {
	margin-left: 20px;
}

.admin_body {
	padding-top: 150px;
}

#colorbox {
	background-color: black;
	text-align: center;
}

#colorbox #description,  
#colorbox .message {
	color: white;
	border: none;
}

#form {
	margin-left: 10px;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

img { border: none; padding: 5px; }

div .message { border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0; padding: 1em; }

#pagination .selected { font-weight: bold; color: #8D0D19; }

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	width: 100%;
}

#footer p {
	position: relative;
	padding-top: 15px;
}